<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <h1 style="text-align: center; text-decoration: underline">
      ข้อมูลติดต่อ
    </h1>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required> </b-form-input>
        </b-form-group>
        <b-form-group
          label="LastName"
          label-for="lastname"
          :invalid-feedback="invalidFeedbackLastName"
          :state="stateLastName"
        >
          <b-form-input
            id="lastname"
            v-model="form.lastname"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Age"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :state="stateAge"
        >
          <b-form-input
            type="number"
            v-model="form.age"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Tel"
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            type="email"
            v-model="form.email"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Nationality"
          label-for="nationality"
          :invalid-feedback="invalidFeedbackNationality"
          :state="stateNationality"
        >
          <b-form-input
            id="nationality"
            v-model="form.nationality"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="religion"
          label-for="religion"
          :invalid-feedback="invalidFeedbackReligion"
          :state="stateReligion"
        >
          <b-form-input
            id="religion"
            v-model="form.religion"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="gender"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :state="stateGender"
        >
          <b-form-input
            id="gender"
            v-model="form.gender"
            required
          ></b-form-input>
        </b-form-group>
        <!-- <b-form-group
          label="birthdate"
          label-for="birthdate"
          :invalid-feedback="invalidFeedbackBirthdate"
          :state="stateBirthdate"
        >
          <b-form-input
            id="birthdate"
            v-model="form.birthdate"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="status"
          label-for="status"
          :invalid-feedback="invalidFeedbackStatus"
          :state="stateStatus"
        >
          <b-form-input
            id="status"
            v-model="form.status"
            required
          ></b-form-input>
        </b-form-group> -->
        <b-form-group
          label="height"
          label-for="height"
          :invalid-feedback="invalidFeedbackHeight"
          :state="stateHeight"
        >
          <b-form-input
            type="number"
            v-model="form.height"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="weight"
          label-for="weight"
          :invalid-feedback="invalidFeedbackWeight"
          :state="stateWeight"
        >
          <b-form-input
            type="number"
            v-model="form.weight"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลผู้สมัคร',
      form: {
        _id: '',
        name: '',
        lastname: '',
        age: '',
        tel: '',
        email: '',
        nationality: '',
        religion: '',
        address: '',
        gender: '',
        weight: '',
        height: ''
      },
      userList: [],
      fields: [
        'id',
        'name',
        'lastname',
        'age',
        'tel',
        'email',
        'nationality',
        'religion',
        'address',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then((value) => {
          if (value) {
            axios
              .delete('http://localhost:3000/jobseeker/' + user._id)
              .then((res) => {
                console.log(res)
                this.getJobseeker()
              })
              .catch((err) => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        lastname: '',
        age: '',
        tel: '',
        email: '',
        nationality: '',
        religion: '',
        address: '',
        gender: '',
        weight: '',
        height: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateName === false ||
        this.stateLastName === false ||
        this.stateAge === false ||
        this.stateTel === false ||
        this.stateNationality === false ||
        this.stateEmail === false ||
        this.stateReligion === false ||
        this.stateAddress === false ||
        this.stateGender === false ||
        this.stateWeight === false ||
        this.stateHeight === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/jobseeker/', this.form)
          .then((res) => {
            console.log(res)
            this.getJobseeker()
          })
          .catch((err) => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/jobseeker/', this.form)
          .then((res) => {
            console.log(res)
            this.getJobseeker()
          })
          .catch((err) => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getJobseeker () {
      axios
        .get('http://localhost:3000/jobseeker')
        .then((res) => {
          console.log(res)
          this.userList = res.data
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อ'
    },
    stateLastName () {
      return this.form.lastname.length >= 2
    },
    invalidFeedbackLastName () {
      if (this.form.lastname.length > 2) {
        return ''
      } else if (this.form.lastname.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อ'
    },
    stateAge () {
      return this.form.age > 0
    },
    invalidFeedbackAge () {
      if (this.form.age > 0) {
        return ''
      } else if (this.form.age > 1) {
        return 'กรอกอายุ'
      }
      return 'กรอกอายุ'
    },
    stateTel () {
      return this.form.tel.length > 8
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 8) {
        return ''
      } else if (this.form.tel.length === 0) {
        return 'จำเป็น หมายเลขโทรศัพท์เพื่อติดต่อ'
      }
      return ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 0) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'กรุณากรอกEmailของท่าน @'
      }
      return 'กรอก Email ของท่าน'
    },
    stateNationality () {
      return this.form.nationality.length >= 2
    },
    invalidFeedbackNationality () {
      if (this.form.nationality.length > 2) {
        return ''
      } else if (this.form.nationality.length > 0) {
        return 'กรุณากรอกสัญชาติ'
      }
      return 'ต้องใส่สัญชาติ'
    },
    stateReligion () {
      return this.form.religion.length > 3
    },
    invalidFeedbackReligion () {
      if (this.form.religion.length > 3) {
        return ''
      } else if (this.form.religion.length < 0) {
        return 'กรอกศาสนา'
      } else if (this.form.religion.length > 1) {
        return 'กรุณากรอกศาสนา'
      }
      return 'กรอกศาสนา'
    },
    stateAddress () {
      return this.form.address.length > 3
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 3) {
        return ''
      } else if (this.form.address.length < 0) {
        return 'กรอกรายระเอียดที่อยู่'
      } else if (this.form.address.length > 1) {
        return 'กรุณากรอกรายระเอียดที่อยู่'
      }
      return 'กรอกรายระเอียดที่อยู่'
    },
    stateGender () {
      return this.form.gender.length > 3
    },
    invalidFeedbackGender () {
      if (this.form.gender.length > 3) {
        return ''
      } else if (this.form.gender.length < 0) {
        return 'กรอกรายระเอียดที่อยู่'
      } else if (this.form.gender.length > 1) {
        return 'กรุณากรอกรายระเอียดที่อยู่'
      }
      return 'กรอกรายระเอียดที่อยู่'
    },
    stateWeight () {
      return this.form.weight > 0
    },
    invalidFeedbackWeight () {
      if (this.form.weight > 0) {
        return ''
      } else if (this.form.weight > 1) {
        return 'กรอกน้ำหนัก'
      }
      return 'กรอกน้ำหนัก'
    },
    stateHeight () {
      return this.form.height > 0
    },
    invalidFeedbackHeight () {
      if (this.form.height > 0) {
        return ''
      } else if (this.form.height > 1) {
        return 'กรอกส่วนสูง'
      }
      return 'กรอกส่วนสูง'
    }
  },
  mounted () {
    this.getJobseeker()
  }
}
</script>
