<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewCompany"
      >Add New</b-button
    >
    <h1 style="text-align: center; text-decoration: underline;">
      ข้อมูลบริษัท
    </h1>
    <b-modal
      id="modal-form-company"
      ref="modal-form-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="CompanyName"
          label-for="companyName"
          :invalid-feedback="invalidFeedbackCompanyName"
          :state="stateCompanyName"
        >
          <b-form-input id="companyName" v-model="form.companyName" required>
          </b-form-input>
        </b-form-group>

        <b-form-group
          label="ConntactName"
          label-for="conntactName"
          :invalid-feedback="invalidFeedbackConntactName"
          :state="stateConntactName"
        >
          <b-form-input
            id="conntactName"
            v-model="form.conntactName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Age"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :state="stateAge"
        >
          <b-form-input
            id= "age"
            v-model="form.age"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Tel"
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            type="email"
            v-model="form.email"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="companyList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editCompany(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCompany(data.item)"
          >Delete
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลผู้สมัคร',
      form: {
        _id: '',
        companyName: '',
        conntactName: '',
        age: '',
        address: '',
        tel: '',
        email: ''
      },
      companyList: [],
      fields: [
        'id',
        'companyName',
        'conntactName',
        'age',
        'address',
        'tel',
        'email',
        'operation'
      ]
    }
  },
  methods: {
    addNewCompany () {
      console.log('Add new company')
      this.$bvModal.show('modal-form-company')
    },
    editCompany (company) {
      console.log('Edit')
      console.log(company)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...company }
      this.$bvModal.show('modal-form-company')
    },
    delCompany (company) {
      console.log('Del')
      console.log(company)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + company.companyName + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/company/' + company._id)
              .then(res => {
                console.log(res)
                this.getCompany()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        companyName: '',
        conntactName: '',
        age: '',
        address: '',
        tel: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateCompanyName === false ||
        this.stateConntactName === false ||
        this.stateAge === false ||
        this.stateAddress === false ||
        this.stateTel === false ||
        this.stateEmail === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/company/', this.form)
          .then(res => {
            console.log(res)
            this.getCompany()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/company/', this.form)
          .then(res => {
            console.log(res)
            this.getCompany()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },
    getCompany () {
      axios
        .get('http://localhost:3000/company')
        .then(res => {
          console.log(res)
          this.companyList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    addCompany (company) {
      company.id = this.lastId++
      this.companyList.push(company)
    },
    updateCompany (company) {
      const index = this.companyList.findIndex(item => item.id === company.id)
      this.companyList.splice(index, 1, company)
    },
    deleteCompany (company) {
      const index = this.companyList.findIndex(item => item.id === company.id)
      this.companyList.splice(index, 1)
    }
  },
  computed: {
    stateCompanyName () {
      return this.form.companyName.length >= 2
    },
    invalidFeedbackCompanyName () {
      if (this.form.companyName.length > 2) {
        return ''
      } else if (this.form.companyName.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อบริษัท'
    },
    stateConntactName () {
      return this.form.conntactName.length >= 2
    },
    invalidFeedbackConntactName () {
      if (this.form.conntactName.length > 2) {
        return ''
      } else if (this.form.conntactName.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อผู้ติดต่อ'
    },
    stateAge () {
      return this.form.age > 0
    },
    invalidFeedbackAge () {
      if (this.form.age > 0) {
        return ''
      } else if (this.form.age > 1) {
        return 'ชื่อใส่อายุ'
      }
      return 'ใส่อายุ'
    },
    stateAddress () {
      return this.form.address.length >= 4
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 4) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'กรุณาที่อยู่'
      }
      return 'ต้องใส่ที่อยู่'
    },
    stateTel () {
      return this.form.tel.length > 8
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 8) {
        return ''
      } else if (this.form.tel.length === 0) {
        return 'จำเป็น หมายเลขโทรศัพท์เพื่อติดต่อ'
      }
      return ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 0) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'กรุณากรอกEmailของท่าน @'
      }
      return 'กรอก Email ของท่าน'
    }
  },
  mounted () {
    this.getCompany()
  }
}
</script>
