<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="danger">
      <b-navbar-brand style="font-size: 50px; font-family: Blippo, fantasy;"
        >Midnight.co.th</b-navbar-brand
      >

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <!-- <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder="Search"
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit"
              >Search</b-button
            >
          </b-nav-form> -->

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em style="font-size: 20px;">User</em>
            </template>
            <!-- <b-dropdown-item>
              <b-button v-b-modal.modal-center variant="light"
                >เข้าสู่ระบบ</b-button
              >
              <b-modal id="modal-center" centered title="Please Sign In">
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                  <b-form-group
                    id="input-group-1"
                    label="Email address:"
                    label-for="input-1"
                    description="โปรกรอก Email ของท่าน"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.email"
                      type="email"
                      placeholder="Enter email"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    id="input-group-2"
                    label="Password:"
                    label-for="input-2"
                  >
                    <b-form-input
                      id="input-2"
                      type="password"
                      v-model="form.password"
                      placeholder="Enter password"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-button type="submit" variant="primary">Sign in</b-button>
                </b-form>
                <b-card class="mt-3" header="Form Data Result">
                  <pre class="m-0">{{ form }}</pre>
                </b-card>
              </b-modal></b-dropdown-item
            > -->
            <b-dropdown-item
              ><b-button variant="light" router-link to="/login"
                >Login</b-button
              ></b-dropdown-item
            >
            <b-dropdown-item
              ><b-button variant="light" router-link to="/users"
                >Resume</b-button
              ></b-dropdown-item
            >
            <b-dropdown-item
              ><b-button variant="light" router-link to="/company"
                >Company</b-button
              ></b-dropdown-item
            >
            <b-dropdown-item
              ><b-button variant="light" router-link to="/jobseeker"
                >jobseeker</b-button
              ></b-dropdown-item
            >
            <b-dropdown-item
              ><b-button variant="light" router-link to="/checkResume"
                >checkResume</b-button
              ></b-dropdown-item
            >
            <b-dropdown-item
              ><b-button variant="light" router-link to="/replyResume"
                >replyResume</b-button
              ></b-dropdown-item
            >
            <!-- <b-dropdown-item
              ><b-button variant="light" router-link to="/profile"
                >Profile</b-button
              ></b-dropdown-item
            > -->
            <!-- <b-dropdown-item
              ><b-button variant="light" router-link to="************"
                >ออกจากระบบ</b-button
              ></b-dropdown-item
            > -->
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!-- <b-row class="d-flex justify-content-center mb-3">
      <b-col sm="1" class="pb-2"><b-button size="sm" router-link to="/">Home</b-button></b-col>
      <b-col sm="1" class="pb-2"><b-button size="sm" router-link to="/users">Resume</b-button></b-col>
      <b-col sm="1" class="pb-2"><b-button size="sm">Small</b-button></b-col>
      <b-col sm="1" class="pb-2"><b-button size="sm">Small</b-button></b-col>
      <b-col sm="1" class="pb-2"><b-button size="sm">Small</b-button></b-col>
      <b-col sm="1" class="pb-2"><b-button size="sm">Small</b-button></b-col>
    </b-row> -->
    <div>
      <b-navbar type="dark" variant="dark">
        <b-navbar-nav>
          <!-- <b-col sm="1" class="pb-2"></b-col>
          <b-nav-item router-link to="/">Home</b-nav-item>
          <b-col sm="1" class="pb-2"></b-col> -->
          <!-- <b-nav-item router-link to="/users">Resume</b-nav-item>
          <b-col sm="1" class="pb-2"></b-col>
          <b-nav-item router-link to="/company">Company</b-nav-item>
          <b-col sm="1" class="pb-2"></b-col> -->
          <!-- <b-nav-item router-link to="/jobseeker">JobSeeker</b-nav-item> -->
          <!-- <b-col sm="1" class="pb-2"></b-col>
          <b-nav-item router-link to="/Search">search</b-nav-item>
          <b-col sm="1" class="pb-2"></b-col> -->
          <!-- <b-nav-item router-link to="/checkResume">checkResume</b-nav-item>
          <b-nav-item router-link to="/replyResume">replyResume</b-nav-item> -->
          <!-- <b-nav-item router-link to="/profile">profile</b-nav-item> -->
        </b-navbar-nav>
      </b-navbar>
    </div>
    <div>
      <b-navbar type="dark" variant="dark">
        <b-navbar-nav style="text-align: center">
          <b-col sm="1"></b-col>
          <b-col sm="4"
            ><b-nav-item router-link to="/" style="font-size: 20px;"
              >Home</b-nav-item
            ></b-col
          >
          <b-col sm="4"
            ><b-nav-item router-link to="/annouce" style="font-size: 20px"
              >Job Post</b-nav-item
            ></b-col
          >

          <b-col sm="4"
            ><b-nav-item router-link to="/FastJob" style="font-size: 20px"
              >Fast Job</b-nav-item
            ></b-col
          >

          <b-col sm="4"
            ><b-nav-item router-link to="/Search" style="font-size: 20px"
              >Search</b-nav-item
            ></b-col
          >
          <b-col sm="4"
            ><b-nav-item router-link to="/profile" style="font-size: 20px"
              >Profile</b-nav-item
            ></b-col
          >
          <b-col sm="4"
            ><b-nav-item router-link to="/AboutMe" style="font-size: 20px"
              >About Me</b-nav-item
            ></b-col
          >
        </b-navbar-nav>
      </b-navbar>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify('Welcome'))
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  },
  data2 () {
    return {
      form2: {
        name: '',
        surname: '',
        email: '',
        password: ''
      },
      show2: true
    }
  },
  methods2: {
    onSubmit2 (event2) {
      event2.preventDefault()
      alert(JSON.stringify('Welcome'))
    },
    onReset2 (event2) {
      event2.preventDefault()
      // Reset our form values
      this.form2.name2 = ''
      this.form2.surname2 = ''
      this.form2.email2 = ''
      this.form2.password2 = ''
      // Trick to reset/clear native browser form validation state
      this.show2 = false
      this.$nextTick(() => {
        this.show2 = true
      })
    }
  }
}
</script>
<style></style>
