<template>
  <div>
    <!-- <b-nav vertical class="w-25">
      <b-nav-item><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/users">Resume</router-link></b-nav-item>
    </b-nav> -->
    <!-- <b-row>
      <b-col lg="4" class="pb-2"><b-button size="sm" router-link to="/">Home</b-button></b-col>
      <b-col lg="4" class="pb-2"><b-button size="sm" router-link to="/users">Resume</b-button></b-col>
      <b-col lg="4" class="pb-2"><b-button size="sm">Small</b-button></b-col>
    </b-row> -->
  </div>
</template>
