<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col sm="4"></b-col>
      <b-col sm="5"><h1 style="margin-top:15px;" >นำเสนอโดยMidnight</h1></b-col>
      <b-col sm="0"></b-col>
    </b-row>
    <b-row>
      <b-col
        ><div>
          <b-card
            title="61160038"
            img-src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/51735384_2068244153256972_422645707007066112_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=174925&_nc_eui2=AeGRT1YRP7y1VLPguRCTCvC_S81Ciw1FGC9LzUKLDUUYL4TwDIuTKmW3s51TL6XrYVvsjBPMQMAI_2gpt4UM5nz_&_nc_ohc=YEWYX1kgYs8AX_mTOhC&_nc_ht=scontent.fbkk10-1.fna&oh=c6a5820aa0a87b564c7c4bde23c83e40&oe=607F62D5"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 18rem;"
            class="mb-2"
          >
            <b-card-text>
              นาย พิสิฐพงศ์ นาถธรรมกุล
            </b-card-text>

            <b-button
              href="https://www.facebook.com/pisitpong13/"
              variant="primary"
              >Visit Here !</b-button
            >
          </b-card>
        </div></b-col
      >
      <b-col
        ><div>
          <b-card
            title="61160041"
            img-src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/62234131_1416959205112217_7488241923996516352_o.jpg?_nc_cat=103&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFL2IsIUr8LaJOAhnT1W9yX2G5h6svkborYbmHqy-RuirSFaqrur6XCKnQ_YXw4vfnog5-tKIQO7PWIwqZ6vjT_&_nc_ohc=hvcH-eXRM-wAX_xU8iW&_nc_ht=scontent.fbkk10-1.fna&oh=557f276a62c014474803cf9a2aabee63&oe=607EC4EF"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 18rem;"
            class="mb-2"
          >
            <b-card-text>
              นาย รัชชานนท์ เมืองฤทธิตระกูล
            </b-card-text>

            <b-button href="https://www.facebook.com/gungrm" variant="primary"
              >Visit Here !</b-button
            >
          </b-card>
        </div></b-col
      >
      <b-col
        ><div>
          <b-card
            title="61160264"
            img-src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/118368574_3469236513120465_744869998739417925_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=174925&_nc_eui2=AeHwV0y0mCM-kZoFbW68MuhFlCbP3NOPs6OUJs_c04-zo4NXBR1e2wrufkC-IXAOov035BTXhpeMCbdUdULeoRRx&_nc_ohc=dgr65Px_mHIAX9nbB6O&_nc_ht=scontent.fbkk10-1.fna&oh=92f9e145f4cc89572dcffcf5ee8f1616&oe=60806FC5"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 18rem;"
            class="mb-2"
          >
            <b-card-text>
              นาย พงศกร พงษ์บ้านไร่
            </b-card-text>

            <b-button
              href="https://www.facebook.com/Poompongsakon"
              variant="primary"
              >Visit Here !</b-button
            >
          </b-card>
        </div></b-col
      >
    </b-row>
    <b-row>
      <b-col
        ><div>
          <b-card
            title="61160026"
            img-src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/12991126_870662926373627_5244141071261756880_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=174925&_nc_eui2=AeEGlVoh4zy1Lx-euvzIB3DuiFlJdMLrjraIWUl0wuuOtnWx-TL52K3BaGS4GTHEb0FUGWxlzBSKcvQn2oMJvYzQ&_nc_ohc=HvccaA4AidAAX9X9uqs&_nc_ht=scontent.fbkk10-1.fna&oh=8cfa46f715829c4923f3b29720cf02fe&oe=60820F7A"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 18rem;"
            class="mb-2"
          >
            <b-card-text>
              นาย จิรภัทร วิภาตนาวิน
            </b-card-text>

            <b-button href="https://www.facebook.com/MKKjrp" variant="primary"
              >Visit Here !</b-button
            >
          </b-card>
        </div></b-col
      >
      <b-col
        ><div>
          <b-card
            title="61160153"
            img-src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/161941670_1911535742337270_7081263834502144362_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFA20V4Fox2IVhC9oW5ybCuIZQHDbNwn90hlAcNs3Cf3UGmvHC0NR-eR5n59Z8Ssv11gCQySxgmEttsnsJ8Uh4W&_nc_ohc=w4TiDGFZjO4AX_W1xUc&_nc_ht=scontent.fbkk14-1.fna&oh=6e4080317b8562ac3024077cc4de5486&oe=6080B450"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 18rem;"
            class="mb-2"
          >
            <b-card-text>
              นางสาว พรทิพย์ สุดสงสาร
            </b-card-text>

            <b-button
              href="https://www.facebook.com/porntip.sudsongsan"
              variant="primary"
              >Visit Here !</b-button
            >
          </b-card>
        </div></b-col
      >
      <b-col
        ><div>
          <b-card
            title="61160268"
            img-src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/105859536_1197487003926094_8564932281160830892_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFCG30hEU4heHj8fJNhkfDMATzhUzMvoLUBPOFTMy-gtXdRiDoKSX_ImeCv4aJozwIvonqQfkcgBwSInlknt3Ks&_nc_ohc=GkEq7MVmEL8AX_LPKZA&_nc_ht=scontent.fbkk14-1.fna&oh=2e9a5455c908f00739eff027bd48b8b0&oe=60822364"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 18rem;"
            class="mb-2"
          >
            <b-card-text>
              นางสาว ศศิมา เหมือดโรจน์
            </b-card-text>

            <b-button
              href="https://www.facebook.com/profile.php?id=100009944174129"
              variant="primary"
              >Visit Here !</b-button
            >
          </b-card>
        </div></b-col
      >
    </b-row>
    <b-row>
      <b-col></b-col>
      <b-col
        ><div>
          <b-card
            title="61160263"
            img-src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/39775345_974501216054039_8879934331468906496_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=174925&_nc_eui2=AeEKZwWhwat6ip6ku7kYBPVn5uOtj9AJTOTm462P0AlM5AGpdtQZmHYk-CwEc3EcW_V4FOYg5a_0yYGyA4h1V8ee&_nc_ohc=gqW_8BHv8lgAX_u9jqB&_nc_ht=scontent.fbkk14-1.fna&oh=3a12f94f93ed00745e93fea162ef8fe6&oe=60807F45"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 18rem;"
            class="mb-2"
          >
            <b-card-text>
              นาย ปิยะชาติ แสงงาม
            </b-card-text>

            <b-button
              href="https://www.facebook.com/profile.php?id=100004825090947"
              variant="primary"
              >Visit Here !</b-button
            >
          </b-card>
        </div></b-col
      >
      <b-col></b-col>
    </b-row>
  </b-container>
</template>
