<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewJobPosition"
      >Add New</b-button
    >
    <h1 style="text-align: center; text-decoration: underline">
      รายการตำแหน่งงาน
    </h1>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="position"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :state="statePosition"
        >
          <b-form-input id="position" v-model="form.position" required>
          </b-form-input>
        </b-form-group>

        <b-form-group
          label="type"
          label-for="type"
          :invalid-feedback="invalidFeedbackType"
          :state="stateType"
        >
          <b-form-input id="type" v-model="form.type" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="recruitment"
          label-for="recruitment"
          :invalid-feedback="invalidFeedbackRecruitment"
          :state="stateRecruitment"
        >
          <b-form-input
            id="recruitment"
            v-model="form.recruitment"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="working_time"
          label-for="working_time"
          :invalid-feedback="invalidFeedbackWorking_time"
          :state="stateWorking_time"
        >
          <b-form-input
            id="working_time"
            v-model="form.working_time"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="salary"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          :state="stateSalary"
        >
          <b-form-input
            id="salary"
            v-model="form.salary"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="gender"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :state="stateGender"
        >
          <b-form-input
            id="gender"
            v-model="form.gender"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="age"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :state="stateAge"
        >
          <b-form-input id="age" v-model="form.age" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="education"
          label-for="education"
          :invalid-feedback="invalidFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-input
            id="education"
            v-model="form.education"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="work_experience"
          label-for="work_experience"
          :invalid-feedback="invalidFeedbackWork_experience"
          :state="stateWork_experience"
        >
          <b-form-input
            id="work_experience"
            v-model="form.work_experience"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="startDate"
          label-for="startDate"
          :invalid-feedback="invalidFeedbackStartDate"
          :state="stateStartDate"
        >
          <b-form-input
            id="startDate"
            v-model="form.startDate"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="endDate"
          label-for="endDate"
          :invalid-feedback="invalidFeedbackEndDate"
          :state="stateEndDate"
        >
          <b-form-input
            id="endDate"
            v-model="form.endDate"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="other_features"
          label-for="other_features"
          :invalid-feedback="invalidFeedbackOther_features"
          :state="stateOther_features"
        >
          <b-form-input
            id="other_features"
            v-model="form.other_features"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="AnnouceList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editJobPosition(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delJobPosition(data.item)"
          >Delete</b-button
        >
        <!-- <b-button @click="ShowJobPosition(data.item)">ShowData</b-button> -->
        &nbsp;
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลประกาศงาน',
      form: {
        _id: '',
        position: '',
        type: '',
        recruitment: '',
        working_time: '',
        salary: '',
        gender: '',
        age: '',
        education: '',
        work_experience: '',
        startDate: '',
        endDate: '',
        other_features: ''
      },
      AnnouceList: [],
      fields: [
        'id',
        'position',
        'type',
        'recruitment',
        'working_time',
        'salary',
        'gender',
        'age',
        'education',
        'work_experience',
        'startDate',
        'endDate',
        'other_features',
        'operation'
      ]
    }
  },
  methods: {
    addNewJobPosition () {
      console.log('Add new JobPosition')
      this.$bvModal.show('modal-form-user')
    },
    editJobPosition (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delJobPosition (company) {
      console.log('Del')
      console.log(company)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + company.position + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/annouce/' + company._id)
              .then(res => {
                console.log(res)
                this.getAnnouce()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        position: '',
        type: '',
        recruitment: '',
        working_time: '',
        salary: '',
        gender: '',
        age: '',
        education: '',
        work_experience: '',
        startDate: '',
        endDate: '',
        other_features: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.statePosition === false ||
        this.stateType === false ||
        this.stateRecruitment === false ||
        this.stateWorking_time === false ||
        this.stateSalary === false ||
        this.stateGender === false ||
        this.stateAge === false ||
        this.stateEducation === false ||
        this.stateWork_experience === false ||
        this.stateStartDate === false ||
        this.stateEndDate === false ||
        this.stateOther_features === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/annouce/', this.form)
          .then(res => {
            console.log(res)
            this.getAnnouce()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/annouce/', this.form)
          .then(res => {
            console.log(res)
            this.getAnnouce()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getAnnouce () {
      axios
        .get('http://localhost:3000/annouce')
        .then(res => {
          console.log(res)
          this.AnnouceList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    addAnnouce (company) {
      company.id = this.lastId++
      this.AnnouceList.push(company)
    },
    updateAnnouce (company) {
      const index = this.AnnouceList.findIndex(item => item.id === company.id)
      this.AnnouceList.splice(index, 1, company)
    },
    deleteAnnouce (company) {
      const index = this.AnnouceList.findIndex(item => item.id === company.id)
      this.AnnouceList.splice(index, 1)
    }
  },
  computed: {
    statePosition () {
      return this.form.position.length >= 2
    },
    invalidFeedbackPosition () {
      if (this.form.position.length > 2) {
        return ''
      } else if (this.form.position.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ตำแหน่งงาน'
    },
    stateType () {
      return this.form.type.length >= 2
    },
    invalidFeedbackType () {
      if (this.form.type.length > 2) {
        return ''
      } else if (this.form.type.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ประเภทของงาน'
    },
    stateRecruitment () {
      return this.form.recruitment > 0
    },
    invalidFeedbackRecruitment () {
      if (this.form.Recruitment > 0) {
        return ''
      } else if (this.form.Recruitment > 1) {
        return 'ใส่จำนวนที่ต้องการ'
      }
      return 'ใส่จำนวน'
    },
    stateWorking_time () {
      return this.form.working_time.length >= 4
    },
    invalidFeedbackWorking_time () {
      if (this.form.Working_time > 0) {
        return ''
      } else if (this.form.Working_time > 1) {
        return 'ใส่เวลาทำงาน'
      }
      return 'ใส่เวลา'
    },
    stateSalary () {
      return this.form.salary.length > 8
    },
    invalidFeedbackSalary () {
      if (this.form.Salary > 0) {
        return ''
      } else if (this.form.Salary > 1) {
        return 'ใส่เงินเดือน'
      }
      return 'ใส่เงินเดือน'
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else if (this.form.gender != null) {
        return ''
      }
      return 'กรุณาใส่เพศ'
    },
    stateAge () {
      return this.form.age != null
    },
    invalidFeedbackAge () {
      if (this.form.age != null) {
        return ''
      } else if (this.form.age != null) {
        return ''
      }
      return 'กรุณาใส่อายุ'
    },
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else if (this.form.education != null) {
        return ''
      }
      return 'กรุณาใส่ระดับการศึกษา'
    },
    stateWork_experience () {
      return this.form.work_experience != null
    },
    invalidFeedbackWork_experience () {
      if (this.form.work_experience != null) {
        return ''
      } else if (this.form.work_experience != null) {
        return ''
      }
      return 'กรุณาใส่ประสบการณ์การทำงาน'
    },
    stateStartDate () {
      return this.form.startDate != null
    },
    invalidFeedbackStartDate () {
      if (this.form.startDate != null) {
        return ''
      } else if (this.form.startDate != null) {
        return ''
      }
      return 'กรุณาใส่วันที่เริ่มรับสมัคร'
    },
    stateEndDate () {
      return this.form.endDate != null
    },
    invalidFeedbackEndDate () {
      if (this.form.endDate != null) {
        return ''
      } else if (this.form.endDate != null) {
        return ''
      }
      return 'กรุณาใส่วันที่จบการรับสมัคร'
    },
    stateOther_features () {
      return this.form.other_features.length >= 0
    },
    invalidFeedbackOther_features () {
      return 'หมายเหตุ'
    }
  },
  mounted () {
    this.getAnnouce()
  }
}
</script>
