<template>
  <div>
    <b-row>
      <b-col sm="2"></b-col>
      <b-col>
        <b-card
          overlay
          img-src="https://picsum.photos/900/250/?image=3"
          img-alt="Card Image"
          text-variant="white"
          title="บริษัท โซลูชั่น แอนด์ เทคนิคคัล คอนซัลแตนทส์ จำกัด"
        >
        </b-card>
        <b-col>
          <b-row>
            <h3>บริษัท โซลูชั่น แอนด์ เทคนิคคัล คอนซัลแตนทส์ จำกัด</h3>
            <b-col sm="3"></b-col>
            <!-- <b-button variant="danger" router-link to="/users"
              >สมัครงาน</b-button
            > -->
            <div>
              <b-button variant="danger" class="float-right" @click="addNewUser"
                >สมัครงาน</b-button
              >
              <mdb-input label="Search" type="text" class="mt-0" />
              <b-modal
                id="modal-form-user"
                ref="modal-form-user"
                :title="title"
                @hidden="resetModal"
                @ok="handleOk"
              >
                <form ref="form" @submit.stop.prevent="handleSubmit">
                  <b-form-group
                    label="Name"
                    label-for="name"
                    :invalid-feedback="invalidFeedbackName"
                    :state="stateName"
                  >
                    <b-form-input id="name" v-model="form.name" required>
                    </b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="LastName"
                    label-for="lastname"
                    :invalid-feedback="invalidFeedbackLastName"
                    :state="stateLastName"
                  >
                    <b-form-input
                      id="lastname"
                      v-model="form.lastname"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Age"
                    label-for="age"
                    :invalid-feedback="invalidFeedbackAge"
                    :state="stateAge"
                  >
                    <b-form-input
                      type="number"
                      v-model="form.age"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Tel"
                    label-for="tel"
                    :invalid-feedback="invalidFeedbackTel"
                    :state="stateTel"
                  >
                    <b-form-input
                      id="tel"
                      v-model="form.tel"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Email"
                    label-for="email"
                    :invalid-feedback="invalidFeedbackEmail"
                    :state="stateEmail"
                  >
                    <b-form-input
                      id="email"
                      type="email"
                      v-model="form.email"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Nationality"
                    label-for="nationality"
                    :invalid-feedback="invalidFeedbackNationality"
                    :state="stateNationality"
                  >
                    <b-form-input
                      id="nationality"
                      v-model="form.nationality"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Education"
                    label-for="education"
                    :invalid-feedback="invalidFeedbackEducation"
                    :state="stateEducation"
                  >
                    <b-form-input
                      id="education"
                      v-model="form.education"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="LanguageSkill"
                    label-for="languageSkill"
                    :invalid-feedback="invalidFeedbackLanguageSkill"
                    :state="stateLanguageSkill"
                  >
                    <b-form-input
                      id="languageSkill"
                      v-model="form.languageSkill"
                      required
                    ></b-form-input>
                  </b-form-group>
                </form>
                <b-card class="mt-3" header="Form Data Result">
                  <pre class="m-0">{{ form }}</pre>
                </b-card>
              </b-modal>
              <!-- <b-table striped hover :items="userList" :fields="fields">
                <template v-slot:cell(operation)="data">
                  <b-button @click="editUser(data.item)">Edit</b-button>
                  &nbsp;
                  <b-button variant="danger" @click="delUser(data.item)"
                    >Delete</b-button
                  >
                </template>
              </b-table> -->
            </div>
          </b-row></b-col
        >
        <div class="mt-3">
          <b-card-group deck class="mb-3">
            <b-card
              border-variant="light"
              header="IT Support ด่วน (ปฏิบัติการสาขาหนามแดง-บางพลี)
          กรุณาอ่านคุณสมบัติให้ตรงก่อนสมัคร"
              class="text-left"
            >
              <h4 style="color: brown; text-decoration: underline;">
                รายระเอียดงาน
              </h4>
              <div>
                ตำแหน่ง: {{ list.position }} <br>
                ประเภท: {{ list.type }} <br>
                จำนวน: {{ list.recruitment }} <br>
                เวลาทำงาน: {{ list.working_time }} <br>
                เงินเดือน: {{ list.salary }} <br>
                เพศ: {{ list.gender }} <br>
                อายุ: {{ list.age }} <br>
                ระดับการศึกษา: {{ list.education }} <br>
                ประสบการณ์การทำงาน: {{ list.work_experience }}
              </div>
              <h4 style="color: brown; text-decoration: underline;">
                หน้าที่รับผิดชอบ
              </h4>
              - เขียน PHP และ Laravel Framework<br />
              - เขียน Web Service (API)<br />
              - อื่นๆตามหัวหน้ารับสั่ง
            </b-card>
          </b-card-group>
        </div>
      </b-col>
      <b-col sm="2"></b-col>
    </b-row>
  </div>
</template>
<style>
h3 {
  color: brown;
}
</style>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลผู้สมัคร',
      form: {
        _id: '',
        name: '',
        lastname: '',
        age: '',
        tel: '',
        email: '',
        nationality: '',
        education: '',
        languageSkill: ''
        // gender: null
      },
      // genderOptions: [
      //   { text: 'Select One', value: null },
      //   { value: 'M', text: 'ผู้ชาย' },
      //   { value: 'F', text: 'ผู้หญิง' }
      // ],
      userList: [],
      list: {},
      fields: [
        'id',
        'name',
        'lastname',
        'age',
        'tel',
        'email',
        'nationality',
        'education',
        'languageSkill',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/detailwork/' + user._id)
              .then(res => {
                console.log(res)
                this.getResume()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        lastname: '',
        age: '',
        tel: '',
        email: '',
        nationality: '',
        education: '',
        languageSkill: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateName === false ||
        this.stateLastName === false ||
        this.stateAge === false ||
        this.stateTel === false ||
        this.stateNationality === false ||
        this.stateEmail === false ||
        this.stateEducation === false ||
        this.stateLanguageSkill === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/detailwork/', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/detailwork/', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getResume () {
      axios
        .get('http://localhost:3000/annouce')
        .then(res => {
          console.log(res)
          this.userList = res.data
          this.list = this.userList[0]
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อ'
    },
    stateLastName () {
      return this.form.lastname.length >= 2
    },
    invalidFeedbackLastName () {
      if (this.form.lastname.length > 2) {
        return ''
      } else if (this.form.lastname.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่สกุล'
    },
    stateAge () {
      return this.form.age > 0
    },
    invalidFeedbackAge () {
      if (this.form.age > 0) {
        return ''
      } else if (this.form.age > 1) {
        return 'กรอกอายุ'
      }
      return 'กรอกอายุ'
    },
    stateTel () {
      return this.form.tel.length > 8
    },
    invalidFeedbackTel () {
      if (this.form.education.length > 8) {
        return ''
      } else if (this.form.education.length === 0) {
        return 'จำเป็น หมายเลขโทรศัพท์เพื่อติดต่อ'
      }
      return ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 0) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'กรุณากรอกEmailของท่าน @'
      }
      return 'กรอก Email ของท่าน'
    },
    stateNationality () {
      return this.form.nationality.length >= 2
    },
    invalidFeedbackNationality () {
      if (this.form.nationality.length > 2) {
        return ''
      } else if (this.form.nationality.length > 0) {
        return 'กรุณากรอกสัญชาติ'
      }
      return 'ต้องใส่สัญชาติ'
    },
    stateEducation () {
      return this.form.education.length > 3
    },
    invalidFeedbackEducation () {
      if (this.form.education.length > 3) {
        return ''
      } else if (this.form.education.length < 0) {
        return 'กรอกรายระเอียดการศึกษา'
      } else if (this.form.education.length > 1) {
        return 'กรุณากรอกรายระเอียดการศึกษา'
      }
      return 'กรอกรายระเอียดการศึกษา'
    },
    stateLanguageSkill () {
      return this.form.languageSkill.length > 3
    },
    invalidFeedbackLanguageSkill () {
      if (this.form.languageSkill.length > 3) {
        return ''
      } else if (this.form.languageSkill.length < 0) {
        return 'กรอกรายระเอียดความรู้ด้านภาษา'
      } else if (this.form.languageSkill.length > 1) {
        return 'กรุณากรอกรายระเอียดความรู้ด้านภาษา'
      }
      return 'กรอกรายระเอียดความรู้ด้านภาษา'
    }
    // stateGender () {
    //   return this.form.gender != null
    // },
    // invalidFeedbackGender () {
    //   if (this.form.gender != null) {
    //     return ''
    //   } else if (this.form.gender != null) {
    //     return ''
    //   }
    //   return 'กรุณาเลือกเพศ'
    // }
  },
  mounted () {
    this.getResume()
  }
}
</script>
