<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        img-src="https://picsum.photos/1024/480/?image=52"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide
        img-src="https://picsum.photos/1024/480/?image=58"
      ></b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid w-100"
            width="1024"
            height="480"
            src="https://picsum.photos/1024/480/?image=55"
            alt="image slot"
          />
        </template>
      </b-carousel-slide>
    </b-carousel>

    <!-- <p class="mt-4">
      Slide #: {{ slide }}<br />
      Sliding: {{ sliding }}
    </p> -->
    <b-card
      class="bottom"
      bg-variant="dark"
      text-variant="white"
      title="ค้นหางานได้ที่นี่"
    >
      <b-row>
        <b-col sm="0"></b-col>
        <b-col sm="0"> </b-col>
        <b-col sm="2">
          <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-3"
              placeholder="Search"
            ></b-form-input>
            <b-button size="sm"  class="my-2 my-sm-3" type="submit"
              >Search</b-button
            >
          </b-nav-form></b-col
        >
      </b-row>
      <b-row>
        <b-col sm="2">
          <b-dropdown
            id="dropdown-1"
            text="สถานที่ทำงาน/พื้นที่"
            class="m-md-2"
          >
            <b-dropdown-item>First Action</b-dropdown-item>
            <b-dropdown-item>Second Action</b-dropdown-item>
            <b-dropdown-item>Third Action</b-dropdown-item>
          </b-dropdown></b-col
        >
        <b-col sm="2">
          <b-dropdown id="dropdown-1" text="ประเภทงาน" class="m-md-2">
            <b-dropdown-item>First Action</b-dropdown-item>
            <b-dropdown-item>Second Action</b-dropdown-item>
            <b-dropdown-item>Third Action</b-dropdown-item>
          </b-dropdown></b-col
        >
        <b-col sm="2">
          <b-dropdown id="dropdown-1" text="วุฒิการศึกษา" class="m-md-2">
            <b-dropdown-item>First Action</b-dropdown-item>
            <b-dropdown-item>Second Action</b-dropdown-item>
            <b-dropdown-item>Third Action</b-dropdown-item>
          </b-dropdown></b-col
        >
        <b-row class="m-md-2">
          <b-button v-b-toggle.sidebar-right>อื่นๆ</b-button>
          <b-sidebar id="sidebar-right" title="เพิ่มเติม" right shadow>
            <div class="px-3 py-2">
              <b-col sm="1.5" class="m-md-4">
                <b-button href="#">งานด่วน</b-button>
              </b-col>
              <b-col sm="1.5" class="m-md-4">
                <b-button href="#">หางานใหม่/บริษัทใหม่</b-button>
              </b-col>
              <b-col sm="1.5" class="m-md-4">
                <b-button href="#">งานพาร์ททาม</b-button></b-col
              >
            </div>
          </b-sidebar>
        </b-row>
      </b-row>
    </b-card>
    <!-- job Event -->
    <b-row>
      <b-col sm="1"></b-col>
      <b-col sm="3"><h1>Job Event</h1></b-col>
    </b-row>
    <b-row>
      <b-col sm="1" class="m-md-1"> </b-col>
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
    </b-row>
    <b-row>
      <b-col sm="10"></b-col>
      <b-col sm="2"
        ><b-button href="#" pill variant="info">อื่นๆอีกมากมาย</b-button></b-col
      >
    </b-row>
    <b-row>
      <b-col sm="1"></b-col>
      <b-col sm="3"><h1>Part-Time</h1></b-col>
    </b-row>
    <b-row>
      <b-col sm="1" class="m-md-1"> </b-col>
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
    </b-row>
    <b-row>
      <b-col sm="10"></b-col>
      <b-col sm="2"
        ><b-button href="#" pill variant="info">อื่นๆอีกมากมาย</b-button></b-col
      >
    </b-row>
    <b-row>
      <b-col sm="1"></b-col>
      <b-col sm="3"><h1>Fast-Work</h1></b-col>
    </b-row>
    <b-row>
      <b-col sm="1" class="m-md-1"> </b-col>
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
      <b-col sm="2">
        <b-card
          title="Card Title"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </b-card-text>

          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card></b-col
      >
    </b-row>
    <b-row>
      <b-col sm="10"></b-col>
      <b-col sm="2"
        ><b-button href="#" pill variant="info">อื่นๆอีกมากมาย</b-button></b-col
      >
    </b-row>
    <b-row>
      <b-col sm="12" class="bottom"></b-col>
    </b-row>
    <b-card bg-variant="dark" text-variant="white" title="Footer"> </b-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>
<style>
.bottom {
  margin-bottom: 50px;
}
</style>
