<template>
  <div>
    <b-row>
      <b-col sm="4"></b-col>
      <b-col sm="3">
        <h1 style="text-align:center; margin-top:30px;"><u>เข้าสู่ระบบ</u></h1>
        <b-form>
          <b-form-group
            id="input-group-1"
            label="Email address:"
            label-for="input-1"
            description="โปรดกรอก Email ของท่าน"
          >
            <b-form-input
              id="email"
              v-model="form.email"
              type="text"
              placeholder="Enter email"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="Password:"
            label-for="input-2"
            description="โปรดกรอก Password ของท่าน"
          >
            <b-form-input
              id="password"
              type="password"
              v-model="form.password"
              placeholder="Enter password"
              required
            ></b-form-input>
          </b-form-group>
          <b-button
            @click="getLogin(form)"
            type="submit"
            variant="success"
            style="margin-bottom:20px;width:100%;"
            >Sign in</b-button
          >
        </b-form>
        <b-link
          variant="light"
          router-link
          to="/register"
          style="margin-left:40%;"
          >สมัครสมาชิก</b-link
        >
        <!-- <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card> -->
      </b-col>
      <b-col sm="2"></b-col>
    </b-row>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    getLogin (form) {
      if (this.form.email !== '') {
        axios
          .post('http://localhost:3000/register/checkLogin', this.form)
          .then(res => {
            console.log(res)
            if (res.data != null) {
              if (res.data.typeRegister === 'company') {
                window.location.pathname = '/annouce'
              } else if (res.data.typeRegister === 'jobseeker') {
                window.location.pathname = '/FastJob'
              }
            }
          })
          .catch(err => {
            console.log(err)
          })
      }
    }
  }
}
</script>
