<template>
  <b-row>
    <b-col sm="1"></b-col>
    <b-col sm="10">
      <b-row>
        <b-col sm="2"></b-col>
        <b-col sm="8"
          ><div>
            <b-card
              overlay
              img-src="http://mmegladman.weebly.com/uploads/5/5/8/6/55860665/aboutmeheader-306124454-std_orig.png"
              img-alt="Card Image"
              text-variant="Black"
              img-height="300px"
              title="Profile"
              sub-title="ข้อมูลส่วนตัว"
            >
            </b-card>
          </div>
          <h4 style="text-decoration: underline;">
            ข้อมูลของฉัน
          </h4></b-col
        >
        <b-col sm="0"></b-col>
      </b-row>
      <b-row>
        <b-col sm="1"></b-col>
        <b-col sm="10">
          <mdb-input label="Search" type="text" class="mt-0" />
          <b-modal
            id="modal-form-user"
            ref="modal-form-user"
            :title="title"
            @hidden="resetModal"
            @ok="handleOk"
          >
            <form ref="form" @submit.stop.prevent="handleSubmit">
              <b-form-group
                label="Name"
                label-for="name"
                :invalid-feedback="invalidFeedbackName"
                :state="stateName"
              >
                <b-form-input id="name" v-model="form.name" required>
                </b-form-input>
              </b-form-group>
              <b-form-group
                label="surname"
                label-for="surname"
                :invalid-feedback="invalidFeedbacksurname"
                :state="statesurname"
              >
                <b-form-input
                  id="surname"
                  v-model="form.surname"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="address"
                label-for="address"
                :invalid-feedback="invalidFeedbackaddress"
                :state="stateaddress"
              >
                <b-form-input
                  id="address"
                  v-model="form.address"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="province"
                label-for="province"
                :invalid-feedback="invalidFeedbackprovince"
                :state="stateprovince"
              >
                <b-form-input
                  id="province"
                  v-model="form.province"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="district"
                label-for="district"
                :invalid-feedback="invalidFeedbackdistrict"
                :state="statedistrict"
              >
                <b-form-input
                  id="district"
                  type="district"
                  v-model="form.district"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="subarea"
                label-for="subarea"
                :invalid-feedback="invalidFeedbacksubarea"
                :state="statesubarea"
              >
                <b-form-input
                  id="subarea"
                  v-model="form.subarea"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="zip"
                label-for="zip"
                :invalid-feedback="invalidFeedbackzip"
                :state="statezip"
              >
                <b-form-input
                  id="zip"
                  v-model="form.zip"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="tel"
                label-for="tel"
                :invalid-feedback="invalidFeedbacktel"
                :state="statetel"
              >
                <b-form-input
                  id="tel"
                  v-model="form.tel"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-1"
                label="อีเมล:"
                label-for="input-1"
                description="โปรกรอก Email ของท่าน"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.email"
                  type="email"
                  placeholder="กรอกอีเมล"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-2"
                label="รหัสผ่าน:"
                label-for="input-2"
              >
                <b-form-input
                  id="input-2"
                  type="password"
                  v-model="form.password"
                  placeholder="กรอกรหัสผ่าน"
                  required
                ></b-form-input>
              </b-form-group>
              <!-- <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select> -->
              <!-- </b-form-group> -->
            </form>
            <b-card class="mt-3" header="Form Data Result">
              <pre class="m-0">{{ form }}</pre>
            </b-card>
          </b-modal>
          <b-table striped hover :items="userList" :fields="fields">
            <template v-slot:cell(operation)="data">
              <b-button @click="editUser(data.item)">Edit</b-button>
            </template>
          </b-table>
        </b-col>
        <b-col sm="0"></b-col>
      </b-row>
      <!-- ******************************************************************** -->
      <!-- ******************************************************************** -->
      <b-row>
        <b-col sm="3"></b-col>
        <b-col sm="6"
          ><div>
            <h4 style="text-decoration: underline;">
              รายการสถานะ
            </h4>
            <mdb-input label="Search" type="text" class="mt-0" />
            <b-table striped hover :items="userList2" :fields="fields2">
            <template v-slot:cell(operation)="data">
        <b-button variant="danger" @click="delUser(data.item)">รับนัดสัมภาษณ์</b-button>
       </template>
            </b-table>
          </div></b-col
        >
        <b-col sm="1"></b-col>
      </b-row>
    </b-col>
    <b-col sm="1"></b-col>
  </b-row>
</template>

<script>
// TB1********************
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลผู้สมัคร',
      form: {
        _id: '',
        company: '',
        name: '',
        status: ''
      },
      userList: [],
      userList2: [],
      fields: [
        'name',
        'surname',
        'address',
        'province',
        'district',
        'subarea',
        'zip',
        'tel',
        'email',
        'operation'
      ],
      fields2: [
        'id',
        'company',
        'name',
        'status',
        'operation'
      ]
    }
  },
  methods: {
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      axios
        .delete('http://localhost:3000/replyResume/' + user._id)
        .then(res => {
          console.log(res)
          this.getReplyResume()
        })
        .catch(err => {
          console.log(err)
        })
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.statePosition === false ||
        this.stateType === false ||
        this.stateRecruitment === false ||
        this.stateWorking_time === false ||
        this.stateSalary === false ||
        this.stateGender === false ||
        this.stateAge === false ||
        this.stateEducation === false ||
        this.stateWork_experience === false ||
        this.stateStartDate === false ||
        this.stateEndDate === false ||
        this.stateOther_features === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/register/', this.form)
          .then(res => {
            console.log(res)
            this.getProfile()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/register/', this.form)
          .then(res => {
            console.log(res)
            this.getProfile()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getProfile () {
      axios
        .get('http://localhost:3000/register/')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getReplyResume () {
      axios
        .get('http://localhost:3000/replyResume')
        .then(res => {
          console.log(res)
          this.userList2 = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getReplyResume()
    this.getProfile()
  }
}
</script>
