<template>
  <div class="bottom">
    <h1 class="text">สมัครสมาชิก</h1>
    <b-row>
      <b-col lg="4"></b-col>
      <b-col sm="4">
        <b-form @submit="onSubmit">
          <b-form-group id="input-group-2" label="ชื่อ :" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.name"
              placeholder="กรอกชื่อ"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            label="นามสกุล :"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.surname"
              placeholder="กรอกนามสกุล"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="ที่อยู่:" label-for="input-2">
            <b-form-textarea
              id="input-2"
              v-model="form.address"
              placeholder="กรอกที่อยู่"
              required
            ></b-form-textarea>
          </b-form-group>
          <b-form-group id="input-group-2" label="จังหวัด:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.province"
              placeholder="จังหวัด"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="อำเภอ:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.district"
              placeholder="อำเภอ"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="ตำบล:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.subarea"
              placeholder="ตำบล"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            label="รหัสไปรษณี:"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.zip"
              placeholder="รหัสไปรษณี"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            label="เบอร์โทรศัพท์:"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.tel"
              placeholder="เบร์อโทรศัพท์"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="อีเมล:"
            label-for="input-1"
            description="โปรกรอก Email ของท่าน"
          >
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              placeholder="กรอกอีเมล"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="รหัสผ่าน:"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              type="password"
              v-model="form.password"
              placeholder="กรอกรหัสผ่าน"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-3" label="ประเภทสมาชิก:" label-for="input-3">
            <b-form-select
              id="input-3"
              v-model="form.typeRegister"
              :options="typeRegister"
              required
            ></b-form-select>
          </b-form-group>
          <b-row>
            <b-col sm="">
              <b-button type="submit" variant="success">Submit</b-button></b-col
            >
          </b-row>
        </b-form>
        <!-- <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card> -->
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        _id: '',
        name: '',
        surname: '',
        address: '',
        province: '',
        district: '',
        subarea: '',
        zip: '',
        tel: '',
        email: '',
        password: '',
        typeRegister: null
      },
      typeRegister: [
        { value: null, text: 'เลือกประเภทสมาชิก' },
        { value: 'jobseeker', text: 'ผู้ค้นหางาน' },
        { value: 'company', text: 'บริษัท' }
      ]
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      this.handdleSubmit()
      window.location.pathname = ''
    },
    handdleSubmit () {
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/register/', this.form)
          .then(res => {
            console.log(res)
            this.getRegister()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/register/', this.form)
          .then(res => {
            console.log(res)
            this.getRegister()
          })
          .catch(err => {
            console.log(err)
          })
      }
    },
    getRegister () {
      axios
        .get('http://localhost:3000/register/')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
}
</script>
<style>
.bottom {
  margin-top: 5%;
}
.text {
  text-align: center;
  text-decoration: underline;
  color: rgb(4, 85, 160);
}
</style>
