<template>
  <b-row>
    <b-col sm="2"></b-col>
    <b-col sm="8">
      <div>
        <b-card
          overlay
          img-src="https://image.freepik.com/free-vector/employees-working-from-home-concept_52683-41250.jpg"
          img-alt="Card Image"
          text-variant="Black"
          img-height="500px"
          title="ReplyResume"
          sub-title="**********************"
        >
          <b-card-text> </b-card-text>
        </b-card>
      </div>
      <div>
        <b-form @submit="onSubmit" @reset="onReset">
          <b-form-group
            id="input-group-1"
            label="จากบริษัท:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.company"
              type="text"
              placeholder="จากบริษัท"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="ถึงคุณ:"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.name"
              placeholder="กรอกชื่อผู้ที่ส่งResume"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="สถานะ (ผ่าน/ไม่ผ่าน):"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.status"
              placeholder="กรอกสถานะการตรวจResume "
              required
            ></b-form-input>
          </b-form-group>

          <b-button type="submit">Submit</b-button>
        </b-form>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </div>
    </b-col>
    <b-col sm="0"></b-col>
  </b-row>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        company: '',
        name: '',
        status: ''
      },
      userList: [],
      show: true
    }
  },
  methods: {
    onSubmit () {
      axios
        .post('http://localhost:3000/replyResume/', this.form)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    },
    onReset (event) {
      event.preventDefault()
      this.form.fromcompany = ''
      this.form.fromname = ''
      this.form.fromstatus = ''
      this.form.checked = []
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  },
  mounted () {
  }
}
</script>
