<template>
  <div>
    <!-- <b-button variant="success" class="float-right" @click="addNewJobPosition"
      >Add New</b-button
    > -->
    <h1 style="text-align: center; text-decoration: underline">
      ค้นหางาน
    </h1>
    <br />
    <br />
    <b-row>
      <b-col></b-col>
      <b-col></b-col>
      <b-col style="margin-right:50px;"></b-col>
      <b-col cols="sm-0" style="margin-top:5px;"><div>
          <template > &#x1f50d;<span class="sr-only">Search</span> </template>
        </div></b-col
      >
      <b-col>
        <b-nav-form>
          <input type="text" v-model="searchText" style="margin-right:20px;" class="form-control" />
          <b-button
            @click.prevent="searchJob()"
            size="sm"
            class="my-2 my-sm-0"
            type="submit"
            >Search</b-button>
        </b-nav-form></b-col>
    </b-row>
    <br />
    <b-table striped hover :items="AnnouceList" :fields="fields"> </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      AnnouceList: [],
      searchText: '',
      fields: [
        'id',
        'position',
        'type',
        'recruitment',
        'working_time',
        'salary',
        'gender',
        'age',
        'education',
        'work_experience',
        'startDate',
        'endDate',
        'other_features'
      ]
    }
  },
  methods: {
    searchJob () {
      axios
        .get('http://localhost:3000/searchjob/' + this.searchText)
        .then(res => {
          console.log(this.AnnouceList)
          this.AnnouceList = res.data
          console.log(this.AnnouceList)
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.searchJob()
  }
}
</script>
